span {
    border: 1px solid black;
    background-color: lime;
}

.profile_pic {
    width: 80px;
    height: 80px;
}

body {
    font-family: Arial, sans-serif;
    display: flex, box;
  }
  
header img {
  max-width: 100%;
  height: auto;
  display: block;
}

.custom-image {
  width: 200px; /* Set a specific width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 1000px; /* Rounded corners */
  display: block; /* Ensure it behaves like a block element */
  object-fit: cover;
  display: flex;
  justify-content: left;
  align-items: left;
}

.crop img {
  width: 300px;
  height: 200px;
}

.body-container {
  max-width: 1000px; /* Set your desired content width */
  margin: 0 auto;
  padding: 0 20px;
}
