.profile_pic {
    width: 80px;
    height: 80px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #f9fbf2;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 1%, transparent 1%), 
                      radial-gradient(circle, rgba(255, 255, 255, 0.1) 1%, transparent 1%);
    background-size: 2px 2px, 2px 2px;
    background-position: 0 0, 1.5px 1.5px;
  }

h1 {
  font-family: Garamond, serif;
}
  
header {
  margin-top: 3%;
}

header img {
  max-width: 100%;
  height: auto;
  display: block;
}

.custom-image {
  width: 200px;
  height: auto;
  border-radius: 1000px;
  display: block;
  object-fit: cover;
  display: flex;
  justify-content: left;
  align-items: left;
}

.crop img {
  width: 300px;
  height: 200px;
  opacity: .99;
}

.body-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

/* social links and icons  */

.icon-links {
  display: flex;
  justify-content: center, flex-end;
  gap: 15px;
}

.icon-links a {
  font-size: 30px;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.icon-links a:hover {
  color: #007bff;
  transform: scale(1.1);
}

.icon {
  width: 35px; /* Set the width of the icon */
  height: 35px; /* Set the height of the icon */
  display: flex; /* Ensures the image behaves like a block element */
  object-fit: contain; /* Ensures the image scales nicely */
}

.custom-image {
  width: 200px; /* Set a specific width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 1000px; /* Rounded corners */
  display: block; /* Ensure it behaves like a block element */
  object-fit: cover;
  display: flex;
  justify-content: left;
  align-items: left;
}

.lower {
  margin-top: 79%;
  margin-left: 10%;
}

/* Adjust for smaller screens */
@media (max-width: 768px) {

  .container {
    padding: 10px; /* Add padding for smaller screens */
  }

  header {
    margin-top: 3%;
    max-width: fit-content;
  }  

}